OPENAI_API_KEY / GORQ_API_KEY  = Generate Api Key
DATABASE_URL=postgresql+asyncpg://agent:agent@db:5432/agentdb
REDIS_URL=redis://redis:6379/0
JWT_SECRET=Generate one
LANGFUSE_PUBLIC_KEY=pk-lf-......generate
LANGFUSE_SECRET_KEY=sk-lf-......generate
PROMETHEUS_DISABLE_METRICS=false
CHUNK_SIZE=800
CHUNK_OVERLAP=80
LLM_MODEL=gpt-4o,(paid), gorq (free) depends on your api free or paid 
EMBEDDING_MODEL=text-embedding-3-small